@model WebBanHangOnline.Models.EF.Product
@{ ViewBag.Title = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<!--page content-->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thêm mới sản phẩm</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        @using (Html.BeginForm("Add", "Products", FormMethod.Post, new { }))
        {
    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hình ảnh</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                            </div>
                            <div class="col-md-12">
                                <table class="table table-hover" id="tbAnhSanPham">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Ảnh</th>
                                            <th class="text-center">Ảnh đại diện</th>
                                            <th class="text-center">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbHtml">
                                    </tbody>
                                </table>
                                <input type="hidden" id="tCurrentId" value="0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thông tin sản phẩm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" id="demo-form2">
                        <br />
                        <form class="form-horizontal form-label-left" id="productForm" data-parsley-validate>
                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <input type="text" class="form-control" placeholder="Tên sản phẩm" name="ProductName" required data-parsley-trigger="change">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <input type="text" class="form-control" placeholder="Alias" name="Alias" required data-parsley-trigger="change">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <input type="text" class="form-control" placeholder="Mã sản phẩm" name="ProductCode" required data-parsley-trigger="change">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    @Html.DropDownListFor(x => x.ProductCategoryId, ViewBag.ProductCategory as SelectList, "- Chọn danh mục sản phẩm -", new { @class = "form-control", @required = "required", @data_parsley_trigger = "change" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12 col-sm-12 ">
                                    <textarea class="form-control" rows="3" placeholder="Mô tả sản phẩm" name="Description" required data-parsley-trigger="change"></textarea>
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="number" class="form-control" placeholder="Giá nhập" name="OriginalPrice" required data-parsley-trigger="change" min="0">
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="number" class="form-control" placeholder="Giá bán" name="Price" required data-parsley-trigger="change" min="0">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="number" class="form-control" placeholder="Giá giảm giá" name="PriceSale" required data-parsley-trigger="change" min="0">
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="number" class="form-control" placeholder="Số lượng" name="Quantity" required data-parsley-trigger="change" min="1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Chi tiết sản phẩm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left">
                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">
                                    <button type="button" class="btn btn-primary">Cancel</button>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<!-- /page content -->

@section  scripts{
    <script>
        $(document).ready(function () {
            // Khởi tạo Parsley cho form
            var form = $("#demo-form2");
            if (form.length) {
                form.parsley();
            } else {
                console.error("Form #demo-form2 không tồn tại!");
            }

            // Kiểm tra hợp lệ
            $("#submit-btn").on("click", function () {
                if ($("#demo-form2").parsley().isValid()) {
                    $(".bs-callout-info").removeClass("hidden");
                } else {
                    $(".bs-callout-info").addClass("hidden");
                }
            });
        });

        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#PriceSale').val(demoGet);
                $('#PriceSale').autoNumeric('set', demoGet);
            });
            $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                $('#OriginalPrice').val(demoGet);
                $('#OriginalPrice').autoNumeric('set', demoGet);
            });
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });

            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm('Bạn có muốn xóa ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $('#tCurrentId').val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                addImageProduct(fileUrl);
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $('#tCurrentId').val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                                            <td class="text-center">${currentId}</td>
                                            <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Images"/></td>
                                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" checked="checked"/></td>
                                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                                            </tr>`;
            }
            else {
                str += `<tr id="trow_${currentId}">
                                            <td class="text-center">${currentId}</td>
                                            <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Images"/></td>
                                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}"/></td>
                                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                                            </tr>`;
            }
            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
            //$('#tbHtml tr td a').each(function () {
            //    $(this).click(function () {
            //        var conf = confirm('Bạn có muốn xóa ảnh này không?');
            //        if (conf === true) {
            //            var _id = $(this).data('id');
            //            $('#trow_' + _id).fadeTo('fast',1, function () {
            //                $(this).slideUp('fast', function () { $(this).remove(); });
            //            });
            //            var temp = $('#tCurrentId').val();
            //            var currentId = parseInt(temp) - 1;
            //            $('#tCurrentId').val(currentId);
            //            }
            //        });
            //    });
        }

    </script>
}