@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <ul class="list-unstyled fruite-categorie">
        <!-- Tất cả sản phẩm -->
        <li>
            <div class="d-flex justify-content-between fruite-name">
                <a href="javascript:;" class="cate-filter" data-id="0">Tất cả sản phẩm</a>
                <span></span> <!-- Bạn có thể để tổng số ở đây nếu muốn -->
            </div>
        </li>
        @foreach (var item in Model)
        {
            <li>
                <div class="d-flex justify-content-between fruite-name">
                    <a href="javascript:;" class="cate-filter" data-id="@item.Id">@item.Title</a>
                    <span>(@item.Products.Count)</span>
                </div>
            </li>
        }
    </ul>
}
