@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <ul class="list-unstyled fruite-categorie">
        @foreach (var item in Model)
        {
            int count = item.Products != null ? item.Products.Count : 0;
            <li>
                <div class="d-flex justify-content-between fruite-name">
                    <a href="@item.Alias">@item.Title</a>
                    <span>(@count)</span>
                </div>
            </li>
        }
    </ul>
}