@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <ul class="list-unstyled fruite-categorie">
        <li>
            <div class="d-flex justify-content-between fruite-name">
                <a href="javascript:;" class="cate-filter" data-id="0">Tất cả</a>
            </div>
        </li>
        @foreach (var item in Model)
        {
            int count = item.Products != null ? item.Products.Count : 0;
            <li>
                <div class="d-flex justify-content-between fruite-name">
                    @*<a href="/danh-muc/@item.Alias-@(item.Id)">@item.Title</a>*@
                    <a href="javascript:;" class="cate-filter" data-id="@item.Id">@item.Title</a>
                    <span>(@count)</span>
                </div>
            </li>
        }
    </ul>
}