@model WebBanHangOnline.Models.LoginViewModel
@{ ViewBag.Title = "Login";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml"; }

<div class="login_wrapper">
    <div class="animate form login_form">
        <div class="login_content">
                <h1>Đăng nhập hệ thống quản trị</h1>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true);
            
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" name="UserName" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" name="Password" />
                    </div>
                <div>
                    <button class="btn btn-success submit" type="submit">Đăng nhập</button>
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>
                }
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 4 template. Privacy and Terms</p>
                    </div>
                </div>
        </div>
    </div>
</div>