<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link href="~/Content/clients/account/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Main css -->
    <link href="~/Content/clients/account/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="main">
        @RenderBody()
    </div>

    <!-- JS -->
    <script src="~/Content/clients/account/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/clients/account/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>