<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material Design Login Form</title>
    <link href="~/Content/servers/css/style-login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        @RenderBody()
    </div>
    <script src="~/Content/servers/js/form-utils-login.js"></script>
    <script src="~/Content/servers/js/script-login.js"></script>
</body>
</html>